clusters/antman.json
clusters/batman.json
clusters/beast.json
clusters/collossus.json
clusters/cyclops.json
clusters/flash.json
clusters/gamora.json
clusters/groot.json
clusters/hercules.json
clusters/infra.json
clusters/ironman.json
clusters/joker.json
clusters/jubilee.json
clusters/juggernaut.json
clusters/link.json
clusters/magneto.json
clusters/n1.json
clusters/phoenix.json
clusters/robin.json
clusters/rocket.json
clusters/spiderman.json
clusters/thanos.json
clusters/wolverine.json
isos/VMware-VCSA-all-6.7.0-15132721.iso
isos/VMware-VCSA-all-6.7.0-15679281.iso
isos/VMware-VCSA-all-6.7.0-16046470.iso
isos/VMware-VCSA-all-7.0.1-17327517.iso
michzimm/test_ps_form.ps1
michzimm/test.ps1
michzimm/test.py
michzimm/ucs_listen.py
michzimm/ucs_test.py
michzimm/ucs_upgrade.py
michzimm/upgrade_ucs.py
old_scripts/cleanup.ps1
old_scripts/deploy_ad.ps1
old_scripts/deploy_vcsa.ps1
old_scripts/download_firmware_ucs_xmlReq.log
old_scripts/download_scp_xmlReq.log
old_scripts/test.ps1
vcsa_files/antman_vcsa.json
vcsa_files/batman_vcsa.json
vcsa_files/beast_vcsa.json
vcsa_files/collossus_vcsa.json
vcsa_files/cyclops_vcsa.json
vcsa_files/flash_vcsa.json
vcsa_files/gamora_vcsa.json
vcsa_files/groot_vcsa.json
vcsa_files/herecules_vcsa.json
vcsa_files/hulk_vcsa.json
vcsa_files/ironman_vcsa.json
vcsa_files/jojo_vcsa.json
vcsa_files/jubilee_vcsa.json
vcsa_files/juggernaut_vcsa.json
vcsa_files/link_vcsa.json
vcsa_files/loki_vcsa.json
vcsa_files/magneto_vcsa.json
vcsa_files/n1_vcsa.json
vcsa_files/phoenix_vcsa.json
vcsa_files/qa1_direct_sdwan_vcsa.json
vcsa_files/qa1_sdwan_vcsa.json
vcsa_files/qa2_sdwan_vcsa.json
vcsa_files/robin_vcsa.json
vcsa_files/rocket_vcsa.json
vcsa_files/spiderman_vcsa.json
vcsa_files/thanos_vcsa.json
vcsa_files/vcsa_json_orig.json
vcsa_files/vcsa_json_template.json
vcsa_files/wolverine_vcsa.json
